[core]
	excludesfile = /Users/kanziw/.gitignore_global
[user]
	name = kanziw
	email = kanziwoong@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/kanziw/.stCommitMsg
[init]
	defaultBranch = main
